body {
    background-color: rgb(71, 76, 81);
    padding: 0;
    margin: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* COLOCAR UMA FONTE BACANA */
}
:root { scroll-behavior: smooth; }
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 6vh;
    
    background-color: rgb(227, 59, 29);
}
header .row a {
    text-decoration: none;
    font-weight: bold;
    font-size: 3vh;

    color: azure;

    padding: 0 10px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    padding: 4vh;
    
    background-color: rgb(227, 59, 29);
}
footer i {
    color: rgb(244, 242, 239);
}

@media screen and (max-width: 450px) {    /* Sumir com o ícone em telas pequenas */
    header {
        display: flex;
        flex-direction: row;
        justify-content: center !important;
    }
    header .row i { display: none; }
    header .row a {
        padding: 0 5px;
    }
}

@media screen and (max-width: 560px) {   /* Deixar o texto na vertical, separando da imagem */
    main .links_pags {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        padding: 5%;
    }
    main .links_pags .text_sobre {
        max-width: 85%;    
    }
    main .links_pags .text_sobre p {
        text-justify: distribute;
    }
    main .links_pags img {
        display: none;
    }
}

@media screen and (max-width: 620px) {   /* Deixar o texto na vertical, separando da imagem */
    main .central {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;    
    }
    main .central .text_sobre {
        max-width: 85vw;    
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        padding: 6vw;
    }
}
